
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600;700&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

/* YELLOW BANNER */
.header {
    height: 3em;
    width: 100%;
    background-color: #f4eb34;
    position: fixed;
}

p{
    color: #152a42;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.88rem;
    font-weight: 300;
    margin: 1.2em auto;
    width: 100%;
}

/* NAV + LOGO + ICONS*/
nav{
    display: flex; 
    justify-content: space-between;
    align-items: right;
    background-color: #fff;
}

nav img{
    width: 140px;
    margin-top: 0.5em;
    margin-left: 10em;
}

.nav-links{
    flex: 1;
    text-align: center;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 20px;
    margin-top: 2.5em;
    position: relative;
    letter-spacing: 0.1em;
}

.nav-links ul li a{
    color: #152a42;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 0.75rem;
}

.nav-links ul li a:hover{
    color: #72AEA6;
}


.shoppingcart{
    background-color: white;
    border: none;
    color:#152a42;
    position: relative;
    margin-top: 0.8em;
    margin-right: 2.6em;

}

.shoppingcart:hover{
    color:#72AEA6;

}

.person{
    background-color: white;
    border: none;
    color:#152a42;
    position: relative;
    margin-top: 0.8em;
    margin-right: 20em;
}


.person:hover{
  color:#72AEA6;
}

.nav menu{
    display: none;
}


/* HERO */
.hero{
    min-height: 100vh;
    width:100%;
    background-image: url("../assets/background.png");
    background-size: cover;
    position: absolute;
    text-align: center;
}

.container{
    width: 22em;
    height: 25em;
    background-color: #fff;
    margin: 8% auto;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

h1{
    color: #72AEA6;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 1.5em;
}

/* FORM */
.container form{
    width: 22em;
    position: absolute;
    top: 5em;
    transition: 0.5s;
}

form input{
    width: 70%;
    padding: 10px 5px; 
    margin: 5px 0;
    border: 0;
    border-bottom: 1px solid #b1b1b1;
    outline: none;
}

::placeholder{
    color: #152a42;
    font-family: 'Montserrat', sans-serif;
}


.btn-box{
    text-align: center;
    width: 70%;
    margin: 2em auto;
    
}

form button{
    width: 7em;
    height: 2.5em;
    margin: 0 10px;
    background-color:#f4eb34;
    border-radius: 15px;
    border: none;
    outline: none;
    color: #152a42;
    font-family: 'Montserrat', sans-serif;
}

#form2{
    left: 450px;
}

#form3{
    left: 450px;
}

.step-row{
    width: 22em;
    height: 2em;
    margin: 0 auto;
    display: flex;
    align-items: center;
    box-shadow: 0 -1px 5px -1px #000;
    position:relative;
}

.step-col{
    width:8em;
    text-align: center;
    color:#152a42;
    font-family: 'Montserrat', sans-serif;
    position:relative;
}

#progress{
    position: absolute;
    height: 100%;
    width: 8em;
    background-color: #f4eb34;
}

.form-control {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    line-height: 1.1;
}